<div class="row gutter-0" style="border-bottom: 1px solid #222">
    <div class="col-md-5 col-sm-4">
        <input id="focusThis" type="text" placeholder="username" [style.color]="myBgColor" [(ngModel)]="username" class="loginInput">
    </div>
    <div class="col-md-5 col-sm-4">
        <input type="text" placeholder="password" [style.color]="myBgColor" [(ngModel)]="password" class="loginInput">
    </div>
    <div class="col-md-1 col-sm-2">
        <button [style.color] = "myBgColor" class="pull-right loginBtn" (click)="login(username, password)">LOG IN</button>
    </div>
    <div class="col-md-1 col-sm-2">
            <button [style.color] = "myBgColor" class="pull-right loginBtn" (click)="inLogin = false">CANCEL</button>
    </div>
</div>