.loginInput {
    height: 70px;
    width: 100%;
    font-size: 45px;
    font-family: "Roboto-Thin";
    border: none;
    border-radius: 0px;
    color: black;
}

input[type=text] {
    padding: 0px !important;
    margin: 0px !important;
    border: none;
    outline: none;
}