.wrong {
    text-align: center; 
    background-color:crimson; 
    color: white;
    height: 70px;
    font-size: 45px;
    font-family: "Roboto-Thin";
}

.loginInput {
    height: 70px;
    width: 100%;
    font-size: 20px;
    font-family: "Roboto-Thin";
    border: none;
    border-radius: 0px;
    color: black;
}

.loginBtn {
    cursor: pointer;
}

span img {
    display: inline-block;
}

input[type=text] {
    padding: 0px !important;
    margin: 0px !important;
    border: none;
    outline: none;
}

@media (min-width: 480px) {
    .loginInput{
        font-size: 30px;
    }
}    

@media (min-width: 768px) {
    .loginInput{
        font-size: 40px;
    }
}