.easeBgChange1 {
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
  }
  .easeBgChange3 {
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  .easeColorChange {
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
  }

a {
    cursor: pointer;
    text-decoration-line: none;
}

.spacer {
    padding-top: 70px;
}

.authors {
    font-family: "Roboto-Black";
    font-size: 40px;
    position: relative;
    text-align: left;
    text-decoration: underline;
    padding-top: 30px;
}

.booksPage {
    position: relative;
    text-align: left;
}

.favBooks {
    font-family: "Roboto";
    font-size: 16px;
}

.header {
    font-family: "Roboto-Black";
    font-size: 50px;
    position: relative;
    text-align: left;
}

.book {
    position: relative;
    text-align: justify;
    font-family: "Roboto";
    font-size: 16px;
}

.books {
    font-family: "Roboto";
    font-size: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
@media (max-width: 584px) {
    .books {
        font-size: 15px;
    }
    .booksPage {
        padding-top: 0px;
    }
    .header, .authors {
        font-size: 30px;
    }
}    