<div class="container elementToFadeIn spacer">
    <div class="row gutter-0 header" [style.color]="myColor">Read Books:</div>
    <div *ngFor="let book of myBookList; let i = index">
        <div *ngIf="book.read == 'yes'" class="favBooks" [style.color]="memColor"><strong>{{i+1}}</strong>. {{book.title}}&nbsp;<b>({{book.pageCount || '?'}} pages<span *ngIf="book.date != '' "> | {{book.date}}</span>)</b></div>
    </div>
</div>
<div class="container elementToFadeIn spacer">
    <div class="row gutter-0 header" [style.color]="myColor">Reading:</div>
    <div *ngFor="let book of myBookList; let i = index">
        <div *ngIf="book.read == 'no'" class="favBooks" [style.color]="memColor">{{book.title}} <b>({{book.pageCount || '?'}} pages)</b></div>
    </div>
</div>

<div class="container elementToFadeIn spacer">
    <div class="header" [style.color] = "myColor">Important Authors:</div>
    <div class="col-md-6">
    <div class="authors" [style.color]="myColor" >Fyodor Dostoevsky</div>
    <div *ngFor="let book of dostoevsky; let i = index">
        <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
        <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
    </div>
    </div>
    <div class="col-md-6">            
    <div class="authors" [style.color]="myColor" >Friedrich Nietzsche</div>
    <div *ngFor="let book of nietzsche; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
    <div class="col-md-6">            
    <div class="authors" [style.color]="myColor" >Carl G. Jung</div>
    <div *ngFor="let book of jung; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="authors" [style.color]="myColor" >Sigmund Freud</div>
        <div *ngFor="let book of freud; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="authors" [style.color]="myColor" >Leo Tolstoy</div>
        <div *ngFor="let book of tolstoy; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="authors" [style.color]="myColor" >George Orwell</div>
        <div *ngFor="let book of orwell; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="authors" [style.color]="myColor" >Ernest Hemingway</div>
        <div *ngFor="let book of hemingway; let i = index">
            <div *ngIf="book.read == '1' " class="favBooks" [style.color]="memColor"><del>{{book.book.split(': ')[1]}}</del></div>
            <div *ngIf="book.read == '0' " class="favBooks" [style.color]="memColor">{{book.book.split(': ')[1]}}</div>
        </div>
    </div>
</div>

<div class="container elementToFadeIn spacer">
    <div class="header" (click)="processJson()" [style.color]="myColor" style="cursor: pointer;" title="refresh book list"  >Important Books:</div>
    <div class = "col-md-6 booksPage elementToFadeIn" *ngFor="let book of books; let i = index" [style.color]="memColor">
        <span class="books" (click)="readBook(i)" id="{{i}}"><strong>{{i+1}}</strong>. {{book.book}}</span>
    </div>  
</div>