.easeBgChange1 {
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
  }
  .easeBgChange3 {
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  .easeColorChange {
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
  }

a {
    cursor: pointer;
    text-decoration-line: none;
}

.brand {
    background-color: transparent; 
    border: none;
}

.searchSpace {
    height: 70px;
    background-color: white;
}

.memoryTitle {

    font-size: 60px;
    font-weight: bolder;
}
.memoryLinkTitle{

    font-size: 45px;
    font-weight: bolder;
}
.memory {
    font-size: 18px;
    text-align: justify;

}
.myTime {
    font-size: 13px;
}
.group {
    font-weight: bolder;
    cursor: pointer;
}
.inputBackground {
    background-color: #1d1d1d;
    border: none;
    border-radius: 0px; 
    box-shadow: none;
}
.mybtn {
    color: white;
    border-radius: 0px;
    background-color: #1d1d1d;
}
.input-group-btn {
    background-color: white;
}
.navbar-brand {
    margin: auto auto;
}
.navbar-toggler {
    border: none;
    text-decoration: none;
    outline: none;
}










