<div class="container">
    <p [style.color] = "myColor" class="memoryTitle elementToFadeIn" [innerHTML]="post.title"></p>
    <p [style.color] = "myColor" class="myTime">Written on {{post.time}}</p>
    <div class="container-fluid memory elementToFadeIn" [style.color] = "memColor" [innerHTML]="post.content">
    </div>
    <hr style="border: 1px solid" [style.color]="myColor">    
    <span *ngFor="let tag of post.tags; let i = index;"> 
        <span id="{{i}}" (mouseenter)="hoverIn(i)" (mouseleave)="hoverOut(i)" class=" btn mybtn" [style.background-color]="bgColor" [style.color]="myColor">
            {{tag}}
        </span>
    </span>
</div>