.memoryTitle {
    font-family: "Roboto-Black";
    color: white;
    font-size: 70px;
}
.memory {
    font-size: 18px;
    text-align: justify;
    font-family: "Roboto-Regular";
}
.myTime {
    font-family: "Roboto";
    font-size: 15px;
}
.mybtn {
    border-radius: 0px;
}