.memoryTitle {
    font-family: "Roboto-Black";
    font-size: 60px;
}
.memory {
    font-size: 18px;
    text-align: justify;
    font-family: "Roboto-Regular";
}
.myTime {
    font-family: "Roboto";
    font-size: 15px;
}
.mybtn {
    border-radius: 0px;
    font-family: "Roboto";
    border: 2px solid;
}

@media (min-width: 768px) {
    .memoryTitle {
        font-size: 80px;
    }
}